.main-container.customer-page
    .header.form-group 拡張機能
    .col-xs-12.form-group
        input#search_calendar.col-xs-1.checkbox-size(type='checkbox', name='search_calendar')
        label(for='search_calendar',class='col-xs-4') カレンダー検索機能
    .col-xs-12.form-group
        input#search_hotelnumber.col-xs-1.checkbox-size(type='checkbox', name='search_hotelnumber')
        label(for='search_hotelnumber',class='col-xs-4') 顧客番号用付箋
    .col-xs-12.form-group
        input#LAN_access.col-xs-1.checkbox-size(type='checkbox',  name='LAN_access')
        label(for='LAN_access',class='col-xs-4') LANアクセス機能
        #lan-display.lan-display.col-xs-offset-2.col-xs-10.col-lg-offset-2.col-lg-10.col-md-2.col-md-10
